# See: https://editorconfig.org/

# DEFAULT
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

# SPECIFIC FOR PROJECT
[{*.sh,*.bash}]
indent_size = 4
